.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.tables {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.topButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.topButtons>button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.buyerTables {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}