* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	scrollbar-width: none;
}

.container {
	min-height: 100vh;
	background-color: whitesmoke;
	padding-top: 70px;
	padding-bottom: 20px;
}