.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.wrapper img {
    width: 20px;
    height: 20px;
}